body {
  font-family:Arial, Helvetica, sans-serif ;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 32cm;
  width: 11cm;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.w3-progress-container{width:100%;height:1.5em;position:relative;background-color:#f1f1f1}
.w3-progressbar{background-color:#757575;height:100%;position:absolute;line-height:inherit}
.w3-round-xlarge{border-radius:16px!important}

.left-container {
  height: 17cm;
  width: 21.5cm;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: block;
  margin-top: -32.7cm;
  margin-left: auto;
  line-height: 1.5;
}

.stack {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

.lerem {
  font-family: Arial, Helvetica, sans-serif;
}

.consectetur {
  font-family: Arial, Helvetica, sans-serif;
}

.consectetur {
  font-family: Arial, Helvetica, sans-serif;
}
.graphic {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

.buttom-container {
  height: 16cm;
  width: 21.5cm;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-left: auto;

}
.address {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(115, 100, 100);

}
.second-site {
  font-family: Arial, Helvetica, sans-serif;
}

.dev {
  font-family: Arial, Helvetica, sans-serif;
}

.cc {
  background-color: #058585;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #058585;
  color: white;
  text-align: center;
  height: 3cm;
}

.fa-solid {
  color: #058585;
  margin-left: 1%;
}

.w3-progressbar {
  background-color: #058585;
}

.title {
  font-size: xx-large;
  position: relative;
  margin-top: -15%;
}

.experience {
  font-size: 1.8em;
  color: rgb(126, 115, 115);
}

.right-content{
  margin-left: 3%;
}

.stack {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(126, 115, 115);
}

.date{
  color: #058585;
}

.date1 {
  color: #058585;
  padding: 5px;
}

.mark {
  color: #058585;
}

mark {
  background-color: yellow;
  color: black;
}

.siter {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(126, 115, 115);
}

.percentages {
  color: antiquewhite;
  text-align: center;
  margin-top: auto;
}

.graphic {
  color:rgb(118, 100, 100) ;
}

.b-content {
  margin-left: 3%;
}

.footer-content {
  align-items: center;
  margin-top: auto;
}

.power a { 
  color: white
}

.icons {
  display: flex;
  flex-direction: row;
  gap: .5%;
  justify-content: center;
  margin: 0 auto;
}


@media only screen and (max-width: 768px) {
 .left-container {width: 100%}
 .card {width: 100%;}
 .left-side {width: 100%;}

}
